/* ____________________________ FONTS ________________________________ */

@font-face {
    font-family: 'FuturaC';
    src: url('/public/fonts/FUTURA/FuturaFuturisC-Italic.eot');
    src: local('FuturaFuturisC Italic'), local('FuturaFuturisC-Italic'),
        url('/public/fonts/FUTURA/FuturaFuturisC-Italic.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisC-Italic.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisC-Italic.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'FuturaCameoExtraBoldC';
    src: url('/public/fonts/FUTURA/FuturaFuturisCameoExtraBoldC.eot');
    src: local('FuturaFuturisCameoExtraBoldC'),
        url('/public/fonts/FUTURA/FuturaFuturisCameoExtraBoldC.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisCameoExtraBoldC.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisCameoExtraBoldC.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisCameoExtraBoldC.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaShadowC';
    src: url('/public/fonts/FUTURA/FuturaFuturisShadowC.eot');
    src: local('FuturaFuturisShadowC'),
        url('/public/fonts/FUTURA/FuturaFuturisShadowC.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisShadowC.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisShadowC.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisShadowC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaVolumeLightC';
    src: url('/public/fonts/FUTURA/FuturaFuturisVolumeLightC.eot');
    src: local('FuturaFuturisVolumeLightC'),
        url('/public/fonts/FUTURA/FuturaFuturisVolumeLightC.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisVolumeLightC.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisVolumeLightC.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisVolumeLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaLightC';
    src: url('/public/fonts/FUTURA/FuturaFuturisLightC.eot');
    src: local('FuturaFuturisLightC'),
        url('/public/fonts/FUTURA/FuturaFuturisLightC.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisLightC.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisLightC.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaCondExtraBoldC';
    src: url('/public/fonts/FUTURA/FuturaFuturisCondExtraBoldC.eot');
    src: local('FuturaFuturisCondExtraBoldC'),
        url('/public/fonts/FUTURA/FuturaFuturisCondExtraBoldC.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisCondExtraBoldC.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisCondExtraBoldC.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisCondExtraBoldC.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaShadowC';
    src: url('/public/fonts/FUTURA/FuturaFuturisShadowC-Bold.eot');
    src: local('FuturaFuturisShadowC Bold'), local('FuturaFuturisShadowC-Bold'),
        url('/public/fonts/FUTURA/FuturaFuturisShadowC-Bold.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisShadowC-Bold.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisShadowC-Bold.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisShadowC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaC';
    src: url('/public/fonts/FUTURA/FuturaFuturisC.eot');
    src: local('FuturaFuturisC'),
        url('/public/fonts/FUTURA/FuturaFuturisC.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisC.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisC.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaC';
    src: url('/public/fonts/FUTURA/FuturaFuturisC-Bold.eot');
    src: local('FuturaFuturisC Bold'), local('FuturaFuturisC-Bold'),
        url('/public/fonts/FUTURA/FuturaFuturisC-Bold.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisC-Bold.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisC-Bold.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaBlackC';
    src: url('fonts/FUTURA/FuturaFuturisBlackC.eot');
    font-weight: 900;
    src: local('FuturaFuturisBlackC'),
        url('FuturaFuturisBlackC.eot?#iefix') format('embedded-opentype'),
        url('FuturaFuturisBlackC.woff2') format('woff2'),
        url('FuturaFuturisBlackC.woff') format('woff'),
        url('FuturaFuturisBlackC.ttf') format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaC';
    src: url('/public/fonts/FUTURA/FuturaFuturisC-BoldItalic.eot');
    src: local('FuturaFuturisC Bold Italic'), local('FuturaFuturisC-BoldItalic'),
        url('/public/fonts/FUTURA/FuturaFuturisC-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisC-BoldItalic.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisC-BoldItalic.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisC-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'FuturaCondBoldC';
    src: url('/public/fonts/FUTURA/FuturaFuturisCondBoldC.eot');
    src: local('FuturaFuturisCondBoldC'),
        url('/public/fonts/FUTURA/FuturaFuturisCondBoldC.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/FUTURA/FuturaFuturisCondBoldC.woff2') format('woff2'),
        url('/public/fonts/FUTURA/FuturaFuturisCondBoldC.woff') format('woff'),
        url('/public/fonts/FUTURA/FuturaFuturisCondBoldC.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  

  @font-face {
    font-family: "Floripa";
    src: url('fonts/Floripa.otf');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "futura";
    src: url('FuturaFuturisBlackC.ttf');
    font-style: normal;
    font-display: swap;
  }

 